.heroListContainer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.btnStyles{
    padding: 15px 20px;
    background-color: royalblue;
    font-size: large;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}